.user_info {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}


/* for settings.html */
.setting_menu {
    font-size: 6.5vw;
    text-align: center;
    grid-column: 1 / 5;
    margin: 1vh 0;
}

.setting_menu span {
    display: inline-block;
    width: 70%;
}

.setting_menu a {
    text-decoration: none;
    color: blue;
}

#rotate_dumbbel {
    transform: rotate(-30deg);
}