.user_info {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

/*2021.1.17とりあえずテストで書いているので、どこかに一元化すること。*/
#test_button {
    width: 50vw;
    height: 10vw;
    font-size: 4vw;
    color: black;
    background-color: skyblue;
    border: solid black;
    border-radius: 3vw;
    padding: 0;
    margin: 2vw 0vw;
}

/* for settings.html */
.setting_menu {
    font-size: 6.5vw;
    text-align: center;
    grid-column: 1 / 5;
    margin: 2vh 0;
}

.setting_menu span {
    display: inline-block;
    width: 70%;
}

.setting_menu a {
    text-decoration: none;
    color: blue;
}

#rotate_dumbbel {
    transform: rotate(-30deg);
}