form {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

p {
    margin: 2vw 0vw;
}

.button {
    width: 25vw;
    height: 10vw;
    font-size: 4vw;
    color: white;
    background-color: blue;
    border: solid blue;
    border-radius: 3vw;
    padding: 0;
    margin: 2vw 0vw;
}