.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.title {
    font-size: 10vw;
    text-align: center;
    background: white;
    grid-column: 1 / 9;
    justify-content: center;
}

.title img {
    width: 12%;
    height: 16%;
    /*transform: rotate(-45deg);*/
    padding: 0 2vw 2vw 2vw;

}

.title a {
    color: black;
    text-decoration: none;
}

.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 8vh;
    background-color: skyblue;
    border-top: solid black;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100%;
    padding: 0;
    font-size: 0;
}

li {
    list-style: none;
    font-size: 6vw;
    height: 100%;
    width: 100%;
}

.item a {
    color: black; 
    text-decoration: none;
    display: block;
    height: 100%;
}

.item_selected {
    list-style: none;
    font-size: 6vw;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.item_selected a {
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
}

.nav_icon {
    padding-top: 10%;
}


.page_title {
    font-size: 8vw;
    text-align: center;
    color: white;
    background-color:blue;
    margin: 2vh 0vw;
    grid-column: 1 / 9;
}

.page_title span {
    display: inline-block;
    width: 100%;
}

.navigate_message {
    font-size: 6vw;
    text-align: center;
    margin: 2vh 0vw;
    grid-column: 1 / 9;
}

.navigate_message span {
    display: inline-block;
    width: 100%;
}

.page_title_success {
    font-size: 6vw;
    text-align: center;
    color: white;
    background-color:red;
    margin: 2vh 0vw;
    grid-column: 1 / 9;
}

.icon {
    text-align: center;
    grid-column: 1 / 9;
}

.icon a {
    display: inline-block;
    text-decoration: none;

}

.icon_a #always_home {
    margin: 0;
    font-size: 6vw;
    color: black;
    border: solid black;
    border-radius: 3vw;
    background-color: skyblue;
}

.icon img {
    width: 18vw;
    height: 28vw;
}

form {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 9;
}

p {
    margin: 1.5vw 0vw;
    width: 100%;
}

.input_area {
    width: 50vw;
    height: 8vw;
    font-size: 100%;/*100%に指定すると、入力される文字がボックスいっぱいに拡大される。そして何故かボックスと単位の高さも揃った*/
    border: solid;
    padding: 0;
}

.input_area:focus {
    border: solid blue;
    outline: none;
    box-shadow: 0 0 10px 2px blue;
}

.button {
    width: 25vw;
    height: 10vw;
    font-size: 4vw;
    color: black;
    background-color: skyblue;
    border: solid black;
    border-radius: 3vw;
    padding: 0;
    margin: 2vh 0vw;
}

.without_form_button_area {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 9;
}

.blank {
    height: 8vh;
    grid-column: 1 / 9;
}