.page_title {
    font-size: 6vw;
    text-align: center;
    color: white;
    background-color:blue;
    margin: 2vw 0vw;
    grid-column: 1 / 5;
}

.icon {
    text-align: center;
    margin: 2vw;
    grid-column: 1 / 5;
}

.icon a {
    display: inline-block;
    text-decoration: none;

}

.icon_a #always_home {
    margin: 0;
    font-size: 6vw;
    color: black;
    border: solid black;
    border-radius: 3vw;
}

.icon img {
    width: 25vw;
    height: 35vw;
}

form {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

p {
    margin: 1.5vw 0vw;
    width: 100%;
}

.input_area {
    width: 50vw;
    height: 8vw;
    font-size: 100%;/*100%に指定すると、入力される文字がボックスいっぱいに拡大される。そして何故かボックスと単位の高さも揃った*/
    border: solid;
    padding: 0;
}

.input_area:focus {
    border: solid blue;
    outline: none;
    box-shadow: 0 0 10px 2px blue;
}

.button {
    width: 25vw;
    height: 10vw;
    font-size: 4vw;
    color: black;
    background-color: skyblue;
    border: solid black;
    border-radius: 3vw;
    padding: 0;
    margin: 2vw 0vw;
}