.edit_error {
    font-size: 4vw;
    text-align: center;
    color:white;
    background-color: red;
    margin: 2vw 0vw;
    grid-column: 1 / 5;
}

.edit_button_area {
    text-align: center;
    grid-column: 1 / 3;
}

.delete_button_area {
    text-align: center;
    grid-column: 3 / 5;
}