.register_title {
    font-size: 6vw;
    text-align: center;
    color: white;
    background-color:blue;
    margin: 2vw 0vw;
    grid-column: 1 / 5;
}

.register_error {
    font-size: 4vw;
    text-align: center;
    color:white;
    background-color: red;
    margin: 2vw 0vw;
    grid-column: 1 / 5;
}

.register_form {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

p {
    margin: 2vw 0vw;
}

#id_menu_name {
    width: 50vw;
    height: 8vw;
    font-size: 100%;/*100%に指定すると、入力される文字がボックスいっぱいに拡大される。そして何故かボックスと単位の高さも揃った*/
    border: solid;
    padding: 0;
}

#id_menu_name:focus {
    border: solid blue;
    outline: none;
    box-shadow: 0 0 10px 2px blue;
}

.button {
    width: 25vw;
    height: 8vw;
    font-size: 4vw;
    color: white;
    background-color: blue;
    border: solid blue;
    border-radius: 3vw;
    padding: 0;
    margin: 2vw 0vw;
}

.edit_title {
    font-size: 6vw;
    text-align: center;
    margin: 4vw 0 2vw 0;
    color: white;
    background-color:blue;
    grid-column: 1 / 5;   
}

.edit_menu {
    font-size: 5.5vw;
    text-align: center;
    background-color: skyblue;
    border-radius: 3vw;
    margin: 2vw 0vw;
    grid-column: 2 / 4;
}

.edit_menu a {
    color: black;
    text-decoration: none;
}

.edit_form {
    padding: 0;
    text-align: center;
    grid-column: 1 / 5;
}

.edit_menu_list {
    width: 50vw;
    height: 8vw;
    font-size: 100%;/*100%に指定すると、入力される文字がボックスいっぱいに拡大される。そして何故かボックスと単位の高さも揃った*/
    padding: 0;
}