.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
    color: white;
    font-size: 4.8vw;
    text-align: center;
    background: blue;
    /*
    border-radius: 8px;
    border: 3px solid white;
    */
}

.title {
    font-size: 10vw;
    text-align: center;
    background: white;
    color: blue;
    grid-column: 1 / 5;
}

.title span {
    position: relative;
}

.title span::before, .title span::after {
    content: "";
    position: absolute;
    color: blue;
    border-bottom: thick solid blue;
    width: 15vw;
    bottom: 7vw;
}

.title span::before{
    right: 50vw;
}

.title span::after{
    left: 50vw;
}

.menu_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu {
    font-size: 6vw;
    text-align: center;
    background-color: yellow;
    margin-top: 2vw;
    grid-column: 2 / 4;
    border-radius: 3vw;
}


@media screen and (min-width:1000px){
    .item {
        color: white;
        font-size: 3vw;
        text-align: center;
        background: red;
        /*
        border-radius: 8px;
        border: 3px solid white;
        */
    }
    
    .title {
        font-size: 5vw;
        text-align: center;
        grid-column: 1 / 5;
    }   
}
