.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item {
    color: white;
    font-size: 30vw;
    text-align: center;
    background: blue;
    /*
    border-radius: 8px;
    border: 3px solid white;
    */
}

.title {
    font-size: 20vw;
    text-align: center;
    grid-column: 1 / 5;
}

@media screen and (min-width:1000px){
    .item {
        color: white;
        font-size: 5vw;
        text-align: center;
        background: red;
        /*
        border-radius: 8px;
        border: 3px solid white;
        */
    }
    
    .title {
        font-size: 3vw;
        text-align: center;
        grid-column: 1 / 5;
    }   
}
/*
h1 {
    color:white;
    background-color: blue;
    text-align: center;
    width: auto;
    margin-bottom: unset;
}

h2 {
    text-align: center;
}

nav {
    background-color: blue;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: unset;
}

nav li {
    list-style-type: none;
}

nav a {
    color: white;
    font-size: larger;
    text-decoration: none;
}
*/
