/* for input.html input_success.html */
.selected_menu_title {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

.selected_menu {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

.selected_menu span {
    display: inline-block;
    width: 80%;
}

.input_span {
    display: inline-block;
    width: 70%;
    color: white;
    background-color: blue;
}

.input_result_message {
    color:white;
    background-color: red;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 2vw;
    grid-column: 1 / 5;
}

#regi_date_area {
    background-color: white;
}