/* for regi_menu.html */
.register_message {
    font-size: 4vw;
    text-align: center;
    color:white;
    background-color: red;
    margin: 2vw 0vw;
    grid-column: 1 / 9;
}

/* for edit_menu.html */

.edit_menu {
    font-size: 5.5vw;
    text-align: center;
    background-color: skyblue;
    border: solid black;
    border-radius: 3vw;
    margin: 2vw 0vw;
    grid-column: 2 / 8;
}

.edit_menu span {
    display: inline-block;
    width: 100%;
}

.edit_menu a {
    color: black;
    text-decoration: none;
}

/* for edit.html */
.edit_error {
    font-size: 4vw;
    text-align: center;
    color:white;
    background-color: red;
    margin: 2vw 0vw;
    grid-column: 1 / 9;
}