.result_date {
    font-size: 7vw;
    text-align: center;
    margin-top: 2vh;
    grid-column: 1 / 9;
}

.result {
    font-size: 6vw;
    text-align: center;
    margin-top: 2vh;
    grid-column: 1 / 9;
}

.result_date_form_div {
    grid-column: 1 / 9;
}

.result_sort_form {
    width: 100%;
}
.sort_date_area {
    width: 35vw;
    height: 5vh;
    font-size: 80%; /*100%に指定すると、入力される文字がボックスいっぱいに拡大される。そして何故かボックスと単位の高さも揃った*/
    border: solid;
    padding: 0;
    background-color: white;
}

.sort_date_area:focus {
    border: solid blue;
    outline: none;
    box-shadow: 0 0 10px 2px blue;
}

.sort_button_div {
    min-height: 8vh;
    text-align: center;
    margin: 2vh 0vw;
    grid-column: 4 / 6;
}

.result_search_button {
    width: 95%;
    height: 100%;
    font-size: 5vw;
    color: black;
    background-color: skyblue;
    border: solid black;
    border-radius: 3vw;
    padding: 0;
}
/*for result_list.html*/
.result a {
    text-decoration: none;
}

.result span {
    display: inline-block;
    width: 80%;
    color: white;
    background-color: blue;
}

.result_date span {
    display: inline-block;
    width: 80%;
    color: white;
    background-color: blue;
}

#weight_menu_span {
    display: inline-block;
    width: 75%;
    font-weight: bolder;
    color: black;
    background-color: white;
    border-bottom: solid black;
}

#result_menu_icon {
    color: red;
}

#weight_record_span {
    display: inline-block;
    width: 80%;
    color: blue;
    background-color: white;
}

/*for result_edit.html*/

.selected_resultmenu_title {
    font-size: 7vw;
    text-align: center;
    margin-top: 2vh;
    grid-column: 1 / 9;
}

.selected_resultmenu_title span {
    display: inline-block;
    width: 90%;
    color: white;
    background-color: blue;
}

.selected_resultmenu {
    font-size: 7vw;
    text-align: center;
    margin-top: 2vh;
    grid-column: 1 / 9;
}

.selected_resultmenu span {
    display: inline-block;
    width: 80%;
}

.link_order {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 9;
}

.link_order a{
    width: 30vw;
    height: 8vw;
    font-size: 4vw;
    color: black;
    background-color: skyblue;
    border: solid black;
    border-radius: 3vw;
    padding-top: 2vw;
    margin: 2vw 0vw;
    display: inline-block;
    text-decoration: none;
}