/* common.cssで.pate_titleにまとめた
.signup_menu {
    font-size: 6vw;
    text-align: center;
    color: white;
    background-color:blue;
    margin: 2vw 0vw;
    grid-column: 1 / 5;
}
*/

/* common.cssでform、pにまとめた
#signup_form {
    font-size: 6vw;
    text-align: center;
    grid-column: 1 / 5;
}

p {
    margin: 2vw 0vw;
}
*/