<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>筋トレ手帳</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/input.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_menu.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/result.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css'%}">
    <script type="text/javascript" src="{% static 'js/function.js' %}" defer></script>
</head>
<body>
<div class="container">
    <div class="title"><img src="{% static 'image/4240.jpg' %}"><span>筋トレ手帳</span><img src="{% static 'image/4240.jpg' %}"></div>
    {% block content %}
    {% endblock %}
    {% if  '/edit/' in request.path %}
        <div class="icon"><a href="{% url 'edit_menu' %}" class="icon_a"><p id="always_home">戻る</p><img src="{% static 'image/29640.jpg' %}"></a></div>
    {% elif '/result/' in request.path %}
        <div class="icon"><a href="{% url 'result_menu' %}" class="icon_a"><p id="always_home">戻る</p><img src="{% static 'image/29640.jpg' %}"></a></div>
    {% else %}
        <!--フッターメニューバーを作成したため、homeへのリンクを解除した。
        <div class="icon"><a href="{% url 'home' %}" class="icon_a"><img src="{% static 'image/29640.jpg' %}"></a></div>
        -->
        <div class="icon"><img src="{% static 'image/29640.jpg' %}"></div>
    {% endif %}
    <!--メニューバーと同じ高さの空白を埋め込むことで、コンテンツがメニューバーに隠れて見えない状態を回避する。-->
    <div class="blank"></div>
    {% if request.user.is_authenticated %}
        <nav class="navbar">
            <ul class="flex-container">
                {% if 'home' in request.path %}
                    <li class="item_selected"><a href=#>記録</a></li>
                {% else %} 
                    <li class="item"><a href="{% url 'home' %}">記録</a></li>
                {% endif %}
                {% if 'result_menu' in request.path %}
                    <li class="item_selected"><a href=#>記録確認</a></li>
                {% else %}
                    <li class="item"><a href="{% url 'result_menu' %}">記録確認</a></li>
                {% endif %}
                {% if 'edit_menu' in request.path %}
                    <li class="item_selected"><a href=#>種目設定</a></li>
                {% else %}
                    <li class="item"><a href="{% url 'edit_menu' %}">種目設定</a></li>
                {% endif %}
                {% if 'account' in request.path %}
                    <li class="item_selected"><a href=# %}>アカウント</a></li>
                {% else %}
                    <li class="item"><a href="{% url 'account' %}">アカウント</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</div>
</body>
</html>