<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>重量記録帳</title>
    {% load static %}    
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/input.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit.css'%}">
</head>
<body>
<div class="container">
    <div class="title"><span>重量記録帳</span></div>

    <nav class="navbar">
        <ul class="flex-container">
            <li class="item"><a href="{% url 'hello_home' %}">ホーム</a></li>
            <li class="item"><a href="{% url 'edit' %}">種目設定</a></li>
            <li class="item"><a href="#">過去の記録</a></li>
            <li class="item"><a href="#">ログイン</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</div>
</body>
</html>