{% extends 'base.html' %}
{% block content %}
    <div class="page_title">編集・削除</div>
    {% if error_message %}
        <div class="edit_error">"{{ input_menu }}"{{ error_message }}</div>
    {% endif %}
    <form class="edit_form" id="edit_form" method="post" action="/edit/{{ id }}">
        {% csrf_token %}
        <p>{{ form.menu_name }}</p>
    </form>
    <div class="edit_button_area">
        <input class="button" id="edit_b" form="edit_form" type="submit" value="編集">
    </div>
    <div class="delete_button_area">
        <input class="button" id="delete_b" form="edit_form" type="submit" value="削除" onclick="change_action()";>
    </div>
    <script type="text/javascript">
        function change_action(){
            var result = confirm('本当に削除しますか？');
            //alertに対してnoの場合の分岐を追加すること。
            if (result) {
                document.getElementById('edit_form').action="/delete/{{ id }}"
            }

        }
    </script>
{% endblock %}