{% extends 'base.html' %}
{% block content %}
    <div class="page_title">種目一覧</div>
    {% for menu in menu_list %}

        <div class="menu"><a href="input/{{menu.id}}" data-value="{{menu.id}}">{{menu.menu_name}}</a></div>    
        
    {% endfor %}

    {% load static %}
    <div class="icon"><img src="{% static 'image/29640.jpg' %}"></div>
    
        <!--テスト画面
        <div class="menu"><a href="#">ベンチプレス</a></div>
        <div class="menu"><a href="#">スクワット</a></div>
        <div class="menu"><a href="#">デッドリフト</a></div>
        <div class="menu"><a href="#">ラットプルダウン</a></div>
        -->
{% endblock %}