{% extends 'base.html' %}

{% block content %}
    <div class="selected_menu">{{ latest_rec.weight_menu }}</div>
    <form method="post" action="">
        {% csrf_token %}
        <!--formでattrsを設定してclassを明示的にする-->
        <p>{{ form.weight_record }}<span>kg</span></p>
        <!--リンク扱いにして↑と要素が被らないようにする-->
        <input class="button" type="submit" value="入力">
    </form>

    <div class="record latest_date">前回の日付:{{latest_rec.created_at|date:"Y-m-j"}}</div>
    <div class="record latest_record">前回の記録:{{latest_rec.weight_record}}Kg</div>
    <div class="record max_date">MAX記録日:{{max_rec.created_at|date:"Y-m-j"}}</div>
    <div class="record max_record">MAX重量:{{max_rec.weight_record}}Kg</div>
{% endblock %}