{% extends 'base.html' %}

{% block content %}
    <div class="page_title"><span>ログイン</span></div>
    {% if error_message %}
        <div class="login_error">{{ error_message }}</div>
    {% endif %}
    <form id="login_form" method="post" action="">
        {% csrf_token %}
        <!--input_spanはinput.cssで定義-->
        <p><span class="input_span">ユーザ名</span></p>
        <p>{{ form.username }}</p>
        <p>{{ form.errors }}</p>
        <p><span class="input_span">パスワード</span></p>
        <p>{{ form.password }}</p>
        <p>{{ form.password.errors }}</p>
        <input class="button" type="button" value="ログイン" onclick="submit();">
    </form>

    <div id="link_signup">
        <p>or</p>
        <a href="{% url 'signup' %}" class="button">新規登録</a>
    </div>
{% endblock %}