{% extends 'base.html' %}

{% block content %}
    <div class="page_title">ログイン</div>
    {% if error_message %}
        <div class="login_error">{{ error_message }}</div>
    {% endif %}
    <form id="login_form" method="post" action="">
        {% csrf_token %}
        <p>ユーザ名</p>
        <p>{{ form.username }}</p>
        <p>{{ form.errors }}</p>
        <p>パスワード</p>
        <p>{{ form.password }}</p>
        <p>{{ form.password.errors }}</p>
        <input class="button" type="submit" value="ログイン">
    </form>

    <div id="link_signup">
        <p>or</p>
        <a href="{% url 'signup' %}" class="button">新規登録</a>
    </div>
    {% load static %}
{% endblock %}