{% extends 'base.html' %}

{% block content %}
    <!--cssはaccount.cssで設定-->
    <div class="page_title"><span>設定</span></div>
    <div class="setting_menu"><span><i class="fas fa-user-circle fa-lg"></i></span><span><a href={% url 'account' %}>アカウント管理</a></span></div>
    <div class="setting_menu"><span><i class="fas fa-dumbbell fa-lg"></i></span><span><a href={% url 'regi_menu' %}>種目登録</a></span></div>
    <div class="setting_menu"><span><i class="fas fa-dumbbell fa-lg" id="rotate_dumbbel"></i></span><span><a href={% url 'edit_menu' %}>種目編集</a></span></div>
{% endblock %}