{% extends 'base.html' %}

{% block content %}
    <div class="page_title"><span>新規登録</span></div>
    <form method="post" action="">
        {% csrf_token %}
        <!--input_spanはinput.cssで定義-->
        <p><span class="input_span">登録ユーザ名</span></p>
        <p>{{ form.username }}</p>
        <p>{{ form.username.errors }}</p>
        <p><span class="input_span">パスワード</span></p>
        <p>{{ form.password1 }}</p>
        <p>{{ form.password1.errors }}</p>
        <p><span class="input_span">パスワード再入力</span></p>
        <p>{{ form.password2 }}</p>
        <p>{{ form.password2.errors }}</p>
        <input class="button" type="button" value="新規登録" onclick="submit()">
    </form>

    <div class="without_form_button_area">
        <p>or</p>
        <button class="button" type="button" onclick="location.href='{% url 'login' %}'">ログイン</button>
    </div>
{% endblock %}